<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque en ligne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Styles pour centrer l'image */
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Prend toute la hauteur de la page */
        }

        .image-container img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bibliothèque en ligne</h1>
        <nav>
            <a href="{{ url_for('accueil') }}">Accueil</a>
            <a href="{{ url_for('livres') }}">Livres</a>
            <a href="{{ url_for('gestion_utilisateurs') }}">Utilisateurs</a>
            <a href="{{ url_for('gestion_stocks') }}">Stocks</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('profile') }}">Profil</a>
                <a href="{{ url_for('logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ url_for('login') }}">Connexion</a>
                <a href="{{ url_for('register') }}">Inscription</a>
            {% endif %}
        </nav>
    </header>

    <!-- Conteneur pour l'image centrée -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='livres_img.jpg') }}" alt="Logo de la bibliothèque">
    </div>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Bibliothèque. Tous droits réservés.</p>
    </footer>
</body>
</html>
