{% extends "base.html" %}

{% block content %}
    <h2>Rechercher un livre</h2>
    <form method="POST">
        <input type="text" name="mot_cle" placeholder="Titre ou auteur" required>
        <button type="submit">Rechercher</button>
    </form>
    {% if livres %}
        <h3>Résultats de la recherche :</h3>
        <ul>
            {% for livre in livres %}
                <li>{{ livre.titre }} par {{ livre.auteur }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
